body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #c06fc0;
  }
  
  
  .column:first-child{
    display:flex;
  }
  .column label {
    padding-top:5px;
  }
  .column select{
    width:70%!important;
    margin-left:20px;
  }